body{
    background-color: purple;
    margin-top: 180px;
}
.container{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.card{
    width: 350px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 11px;

}
.photo{
    overflow: hidden;
    border: 3px solid purple;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.text{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 50%;
    margin: 10px 10px;
}
.btn{
    display: flex;
    gap: 15px;
    margin-bottom: 16px;
}
.rm{
    background-color: white;
    color: purple;
    border: 2px solid purple;
    padding: 10px 40px;
    border-radius: 10px;
    transition: .3s;

}
.rm:hover{
    transition: .3s;
    background-color: purple;
    color: white;
}
.sub{
    background-color: purple;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    transition: .3s;
}
.sub:hover{
    transition: .3s;
    color: rgb(0, 0, 0);
}
.star{
    margin-bottom: 10px;
    color: purple;
}

